<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org">

<body th:replace="~{admin :: layout(
        pageTitle='Download',
        active=${'files'},
        actionsFrag=~{::actionsFrag},
        contentFrag=~{::contentFrag}
    )}">

<div th:fragment="actionsFrag">
  <!-- ad esempio un bottone "Torna alla lista" -->
</div>

<div th:fragment="contentFrag">
  <div th:replace="~{downloads/_download :: content(
        pageTitle=${pageTitle},
        active=${active},
        tenantId=${tenantId}
    )}"></div>
</div>

</body>
</html>

