<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org">

<body th:replace="~{admin :: layout(
        pageTitle=${pageTitle},
        active=${'users'},
        actionsFrag=~{::actionsFrag},
        contentFrag=~{::contentFrag}
    )}">

<div th:fragment="actionsFrag">
    <!-- ad esempio un bottone "Torna alla lista" -->
</div>

<div th:fragment="contentFrag">
    <div th:replace="~{users/_detail :: content(
        membership=${membership},
        user=${user},
        pageTitle=${pageTitle},
        active=${active},
        currentTenant=${currentTenant}
    )}"></div>
</div>

</body>
</html>

